<div class="w-100">
    <mat-form-field floatLabel="never" class="w-100" appearance="outline">
        <mat-icon matPrefix>bookmark_outline</mat-icon>
        <input matInput placeholder="Digite o nome" id="name" [(ngModel)]="name">
        <mat-label>Nome</mat-label>
    </mat-form-field>


</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <span [style.background]="selectedColor" class="color-box" [(colorPicker)]="selectedColor" [cpToggle]="true"
        [cpDialogDisplay]="'inline'">
    </span>

    <div class="d-flex flex-row mt-4 w-100 justify-content-center">
        <button mat-flat-button class="button-dialog-primary me-2" (click)="generatePayload()">
            <strong>
                Avançar
            </strong>
        </button>
        <button mat-flat-button class="button-dialog-secondary" (click)="generatePayload()">
            <strong>
                Fechar
            </strong>
        </button>
    </div>
</div>